.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: aqua;
}

.image{
    width: 100px;
    height:100px;
    padding: 10px;
}

.circle{
    border-radius: 50%;
}

.content{
    padding:200px;
    padding-left: 10px;
}